#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    width: 100%;
}

#inspire {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.container.fill-height {
    align-items: normal;
}

a.side_bar_link {
    text-decoration: none;
}

.card__title--primary, .card__text {
    text-align: center;
}

.card, .flex_xs4, .v_card {
    height: 100% !important;
}
